Support "null" origin

A PR for this (#101) was recently rejected with the comment "I couldn't find a source that said setting `Origin` to `null` is part of the standard". I want to at least document that this is indeed a first-class part of the standard.

The syntax for the `Origin` header is defined in [Section 7.1 of RFC 6454](https://tools.ietf.org/html/rfc6454#section-7.1). The ABNF there specifies the header's value as either the string `null` or a list of origins. Sections 4 and 6 define the circumstances under which this value should be set to `null`, which include using a `file://` origin.

Similarly, the W3C CORS specification [explicitly notes](https://www.w3.org/TR/cors/#resource-sharing-check-0) that the matching algorithm "also functions when the ASCII serialization of an origin is the string `null`".

In practical terms this isn't a very pressing concern, since you can just use `CORS_ORIGIN_REGEX_WHITELIST = (r"^null$",)`. That said, I think it would make sense to allow the value to be used in the whitelist directly.

Thanks for looking this up, I agree we should accept it. Could you open a PR to add it? 👍 